.getStarted {
    margin-top: 200px;

    &__neon {
        color: transparent;
        background-image: linear-gradient(to right, var(--linear-1), var(--linear-2));
        background-clip: text;
        text-transform: uppercase;
        font-size: var(--caption-1-size);
        font-weight: var(--caption-1-weight);
        line-height: var(--caption-1-line);
        letter-spacing: 5px;
    }

    &__head2 {
        margin-top: 0;
        width: 750px;
        font-size: var(--head-2-size);
        font-weight: var(--head-2-weight);
        line-height: var(--head-2-line);
        color: var(--white);
        text-align: center;
        letter-spacing: -1px;
    }

    &__video {
        margin-bottom: 40px;
    }

    &__button {
        margin-top: 30px;
        max-width: 280px;
        height: 76px;
        padding: 1.5em 2.3em;
        background: rgb(0, 255, 140);
        box-shadow: 0 -150px 70px -120px rgb(0, 255, 208) inset,
            0 -220px 70px -120px rgb(225, 0, 255) inset,
            0 -220px 100px -120px rgb(200, 0, 255) inset;
        background-position: 0 0;
        border: 0;
        text-transform: uppercase;
        font-size: var(--button-1-size);
        font-weight: var(--button-1-weight);
        line-height: var(--button-1-line);
        color: var(--white);
        letter-spacing: 1.5px;
        text-align: center;
        animation: background 4s infinite alternate;
        cursor: pointer;
        transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

        &:hover {
            opacity: 0.7;
            box-shadow: 120px -150px 70px -120px rgb(28, 189, 160) inset,
                120px -120px 70px -120px rgb(99, 208, 150) inset,
                120px -180px 180px -180px rgb(255, 0, 136) inset;

        }
    }
}