.aboutUs {
    margin-top: 100px;
    &__images{
        position: relative;
        .images__video{
            position: absolute;
            right: 250px;
            bottom: 100px;
        }
    }
    &__texts {
        width: 562px;
        margin-top: 30px;
        .texts__head2{
            margin-top: 0;
            color: var(--white);
            font-size: var(--head-2-size);
            line-height: var(--head-2-line);
            font-weight: var(--head-2-weight);
            letter-spacing: -0.5%;
        }
        .texts__body1{
            color: var(--grey-2);
            font-size: var(--body-1-size);
            line-height: var(--body-1-line);
            font-weight: var(--p-weight);
        }
        .texts__body3{
            color: var(--white);
            font-size: var(--body-3-size);
            line-height: var(--body-3-line);
            font-weight: var(--body-3-weight);
            list-style-image: url('./../../../public/img/check-box.png');
            padding-left: 25px;
        }
    }}