.gradientStroke {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -100;
}

.cells {
    z-index: -100;
    position: absolute;
    left: 0;
    top: 30%;

}

.header {
    margin-left: 150px;
    margin-right: 90px;

    &__head1 {
        margin-bottom: 30px;
        width: 540px;
        font-size: var(--head-1-size);
        color: var(--white);
        font-weight: var(--h1-weight);
        line-height: var(--head-1-line);
        letter-spacing: -0.5%;
    }

    &__body1 {
        margin-top: 0;
        width: 446px;
        font-size: var(--body-1-size);
        color: var(--grey-2);
        font-weight: var(--p-weight);
        line-height: var(--body-1-line);
    }

    &__button1 {
        margin-top: 30px;
        max-width: 280px;
        height: 76px;
        padding: 1.5em 2.3em;
        background: rgb(0, 255, 140);
        box-shadow: 0 -150px 70px -120px rgb(0, 255, 208) inset,
            0 -220px 70px -120px rgb(225, 0, 255) inset,
            0 -220px 100px -120px rgb(200, 0, 255) inset;
        background-position: 0 0;
        border: 0;
        text-transform: uppercase;
        font-size: var(--button-1-size);
        font-weight: var(--button-1-weight);
        line-height: var(--button-1-line);
        color: var(--white);
        letter-spacing: 1.5px;
        text-align: center;
        animation: background 4s infinite alternate;
        cursor: pointer;
        transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        &:hover{
            opacity: 0.7;
            box-shadow: 0 -150px 70px -120px rgb(28, 189, 160) inset,
            0 -120px 70px -120px rgb(99, 208, 150) inset,
            0 -180px 180px -180px rgb(255, 0, 136) inset;
            
        }

    }

    &__clients {
        margin-top: 110px;
        width: 686px;

        .happyClients {
            position: relative;

            .underline-purple {
                position: absolute;
                top: 20px;
            }

            margin-left: 10px;
            width: 136px;
            color: #D1D1D1;
            font-weight: var(p-weight);
            font-size: var(--body-1-size);
            line-height: 28px;

            b {
                color: inherit;
                font-size: inherit;
                font-weight: 600;
                line-height: 28px;
            }
        }
    }

    &__menVr {
        margin-top: 100px;

        &__img {
            position: relative;
        }
    }

    &__backlight {
        position: absolute;
        right: 0px;
        bottom: 30px;
        z-index: -100;
    }
}

@keyframes background {
    50% {
      background: darkviolet;
      box-shadow: 0 -140px 70px -120px mediumorchid inset,
                  0 -210px 70px -120px teal inset,
                  0 -280px 70px -120px plum inset;
    }
  }
  