.ourArticles {
    &__text-block {
        .text-block__head2 {
            color: var(--white);
            font-size: var(--head-2-size);
            font-weight: var(--head-2-weight);
            line-height: var(--head-2-line);
            letter-spacing: -0.5px;
        }

        .text-block__btn--neon-border {
            color: var(--white);
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            padding: 20px 50px;
            border: 1px solid transparent;
            border-image: linear-gradient(to right, var(--linear-1), var(--linear-2));
            border-image-slice: 3;
            background-color: var(--black-80);
            margin-right: 30px;
        }

    }

    &__currentMedia {
        position: relative;
        height: 630px;
        .currentMedia__media{
            
        }
        .currentMedia__inner{
            position: absolute;
            bottom: 100px;
            left: 0;
            z-index: 1001;
        }
        .currentMedia__head6 {
            color: var(--white);
            font-size: var(--head-6-size);
            font-weight: var(--head-6-weight);
            line-height: var(--head-6-line);
            letter-spacing: -0.5px;
        }
        .currentMedia__theme{
            margin-bottom: 0;
            width: 100px;
            background-color: #FFFFFF4D;
            color: var(--white);
            font-size: var(--caption-2-size);
            font-weight: var(--caption-2-weight);
            line-height: var(--caption-2-line);
            text-align: center;
            padding: 5px;
            border: 0;
            border-radius: 1.3em;
        }
        .currentMedia__head5{
            width: 509px;
            margin-top: 0;
            color: var(--white);
            font-size: var(--head-5-size);
            font-weight: var(--head-5-weight);
            line-height: var(--head-5-line);
        }
    }
}