@import './variables.scss';
@import './components/Nav/nav.module.scss';
@import './components/Header/header.module.scss';
@import './components/Insert/insert.module.scss';
@import './components/AboutUs/aboutUs.module.scss';
@import './components/OurService/ourService.module.scss';
@import './components/ChooseUs/chooseUs.module.scss';

body {
  margin: 0;
  font-family: var(--heads-fonts), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #18181B;
}


